@media print{
    #no-print{display:none;}

    #header{display:none;}
    .menu{width:0%; display:none;}
    .footer{display:none;}
    .content {
      margin: 0px 0px;
      box-shadow: 0 1px 0px; 
    }
    .col-sm-9 {
      width: 100%;
      padding-right: 0px;
      padding-left: 0px;
    }

    /* Link Display Disable. */
    a[href]:after {
      content: ""!important;
    }
    abbr[title]:after {
      content: ""!important;
    }
}